.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.book-detail-copies {
  margin-left: 20px;
  margin-top: 20px;
}

.logout-form {
    display: inline;
}

.logout-button {
    background: none;
    border: none;
    padding: 0;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}
